body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.container {
  display: flex;
  justify-content: space-between;
}

.userCartNav {
  display: flex;
  justify-content: space-around;
  flex-grow: 0.3;
}

.cart-items-title {
  display: flex;
  justify-content: space-between;
}

.cart-title {
  text-align: center;
}

.cart-checkout-container {
  display: flex;
  justify-content: space-around;
}

.cart-item-container {
  flex-basis: 60%;
}
