body {
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
}

.homeImage {
  position: relative;
  z-index: 0;
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
  height: 66.666vw;
  transform-origin: center bottom 0px;
}

.homeImageText {
  position: absolute;
  align-items: 'center';
  justify-content: 'center';
  text-align: center;
  color: black;
  font-size: 70px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 0.05em;
  color: black;
  text-align: center;
}

form div {
  margin: 1em;
  display: inline-block;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding: 0px 0.1px 0.1px 0px;
}

.userCartNav {
  display: flex;
  justify-content: space-around;
  flex-grow: 0.3;
}

.guest {
  text-align: center;
  align-content: space-around;
}

.allProductsNav {
  justify-content: center;
  font-size: 15px;
}
