* {
  font-family: 'Noto Sans HK', sans-serif;
}

body {
  font-family: 'Noto Sans HK', sans-serif;
  color: black;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: inline-block;
  color: black;
  text-align: center;
  font: 'Noto Sans HK';
}

.page-title {
  text-align: center;
}

form div {
  margin: 1em;
  display: inline-block;
}

h1 {
  color: lightcoral;
}

h3 {
  color: grey;
}

h3 a {
  color: grey;
}

h3 a:hover {
  color: lightcoral;
}

/* HOME */
.homeImage {
  position: relative;
  z-index: 0;
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
  height: 66.666vw;
  transform-origin: center bottom 0px;
}

.homeImageText {
  text-align: center;
  color: black;
  font-size: 30px;
}

.homePageCard {
  display: flex;
  justify-content: space-around;
  margin: 5em;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.text {
  text-align: center;
}

/* NAV */
.container {
  display: flex;
  justify-content: space-between;
  background-color: #f7ece1;
  color: black;
  padding: 0px 0.1px 0.1px 0px;
}

.allProductsNav {
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.9);
  font: 'Noto Sans HK';
}

.allProductsNav:hover {
  color: lightcoral;
}

.userCartNav {
  display: flex;
  justify-content: space-around;
  flex-grow: 0.3;
  color: rgba(0, 0, 0, 0.9);
}

.userCartNav a:hover {
  color: lightcoral;
}

/* CART */
.cart-items-title {
  display: flex;
  justify-content: space-between;
}

.cart-checkout-container {
  display: flex;
  justify-content: space-around;
}

.cart-item-container {
  flex-basis: 60%;
}

.cart-empty {
  text-align: center;
}

.guest {
  text-align: center;
  align-content: space-around;
}

/* ALL ITEMS */
#all-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.all-view {
  text-align: center;
}

.item-card-title {
  color: lightcoral;
}

/* SINGLE ITEM */
.single-item {
  padding: 25px;
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 5;
}

.single-item img {
  display: block;
  height: 100vh;
  width: auto;
  border-radius: 15px;
  border: 5px, solid, lightcoral;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  flex: 3;
}

.single-item-desc {
  align-content: start;
  padding: 15px;
  flex-direction: column;
  flex: 2;
}

/* ERROR PAGE */
.error-nav {
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
}

.error-nav a {
  color: lightslategrey;
}

/* FOOTER */
#footer {
  width: 100%;
}
